/*Удачи тебе, мой невидимый друг!*/


.wrapper{
	max-width: 1020px;
	max-height: 1195px;
	margin: 0 auto;
	}

.header{
	background-color:#2d303a;
	height: 89px;
	display: flex;
	justify-content: space-between;
	border-bottom: 6px solid #323746;
	padding:0 40px;
	}

.logo{
	position: relative;
	font-size: 25px;
	line-height: 6px;
	color: #ffffff;
	font-family: "Lato";
	font-weight: 700;
	text-align: left;
	top:40px;
	letter-spacing: 0.001em;
	
}

.red_star{
	color: #f06c64;
}

.navbar{
	position: relative;
    width: 373px;
	top:39px;
}

.navbar ul{
	position: relative;
    	display: flex;
	justify-content: space-between;
        }

.navbar ul li a{
	position:relative;
    	color: white;
    	text-decoration: none;
    	font-size: 12px;
    	line-height: 6px;
   	color: #ffffff;
   	font-family: "Lato";
   	font-weight: 700;
   	text-align: justify;
   	vertical-align: middle;
    
}

.navbar ul li a:hover{
	cursor: pointer;
    	color: #f06c64;
}


li:not(:last-child)::after {
    	position: relative;
    	content: ".";
    	color: #494e62;
    	bottom:1px;
    	margin-left: 14px;
}

.slider{
	position:relative;
	display:flex;
	background-color:#f06c64;
	height:594px;
	justify-content: space-between;
	border-bottom: 6px solid #ea676b;
	padding:0 40px
	}


.horizontal{
	position:relative;
	margin-left:19px;
	padding-top:174px
}

.vertical{
	position:relative;
	top:53px;
	left:1px

}

.arrows{
	position: relative;
	top:281px;
	height: 16px;
	left:1px
}

.arrows.left{
	position: relative;
	left:2px
}


.arrows.left:hover{
	position:relative;
	cursor: pointer;
	animation: moveLeft .5s linear infinite;
	animation-iteration-count: infinite;
}	

 
 .arrows.right:hover{
	position:relative;
	cursor: pointer;
	animation: moveRight .5s linear infinite;
	animation-iteration-count: infinite;
 }
 
 
@keyframes moveLeft {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-10px);
    }
}
 
@keyframes moveRight {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(10px)
    }
}

.services{
	justify-content: space-around;
	background-color: #f2f2f2;
	padding: 68px 40px 0 40px;
	border-bottom: 5px solid #ffffff;
	height:425px;
	}

.title{
	font-size: 30px;
	line-height: 18px;
	color: #666d89;
	font-family: "Lato";
	font-weight: 800;
	text-align: left;
	}



.read{	
	position:relative;
	height: 85px;
	font-size: 18px;
	line-height: 30px;
	color: #767e9e;
	font-family: "Lato";
	font-weight: 300;
	text-align: justify;
	letter-spacing: 0.003em;
	top:27px;
}

.columns{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 49px;
	padding-right:44px;
	padding-left:1px;
	}

	
.columns h3{
	font-size: 18px;
	line-height: 18px;
	color: #666d89;
	font-family: "Lato";
	font-weight: 900;
	text-align: justify;
	position: relative;
	top:-2px;
	left: 10px;
	letter-spacing:0.002em;
}

.columns .posit{
	margin-left:71px
}

.columns p{
	position: relative;
	word-wrap: break-word;
	width: 219px;
	height: 128px;
	font-size: 12px;
	line-height: 22px;
	color: #767e9e;
	font-family: "Lato";
	font-weight: 400;
	text-align: justify;
	padding-right:50px;
	margin-left: 80px;
	letter-spacing:0.002em;
	top:8px;
	}



.columns img{
	float:left;
	margin-right:10px;
	margin-bottom:40px
	}

.item:nth-child(4),
.item:nth-child(5),
.item:last-child
{
	position: relative;
	top: -23px;
	
}

.item:nth-child(3),
.item:last-child{
	position: relative;
	left:1px
}


.item{
	width:257px;
	}


