/*Удачи тебе, мой невидимый друг!*/


.wrapper{
	max-width: 1020px;
	max-height: 1604px;
	margin: 0 auto;
	}

.portfolio{
	background-color: #2d303a;
	height:723.5px;
	padding:70px 40px;
	border-bottom: 6px solid #323746;
	}

.wrapper h2{
	font-size: 30px;
	line-height: 18px;
	color: #666d89;
	font-family: "Lato";
	font-weight: 800;
	text-align: left;
}

.wrapper p{
	width: 940px;
	font-size: 18px;
	line-height: 30px;
	color: #767e9e;
	font-family: "Lato";
	font-weight: 300;
	text-align: left;
	margin-top:26px
}

.portfolio ul{
	display:flex;
}

.portfolio ul.filter{
	font-size: 12px;
	line-height: 22px;
	color: #767e9e;
	font-family: "Lato";
	font-weight: 400;
	text-align: left;
	width: 286px;
	justify-content: left;
	margin-top: 11px;
	margin-left: 1px;
	justify-content: space-between;
}

.filter li{
	border:1px solid #767e9e;
	border-radius:5px;
	padding: 0px 6px;
	}

.filter li:hover{
	color:#ffffff;
	border-color:#ffffff;
	cursor: pointer;
}

ul.image{
	margin-top:18px;
	flex-wrap: wrap;
	justify-content:space-between;
	align-content: space-between;
	overflow:hidden;
	height:603px;
}

.image li{
	
}


.about_us{
	height:588px;
	padding:70px 40px;
	background-color:#f2f2f2;
	border-bottom:6px solid #ffffff;
	letter-spacing: -0.01em;
	}



.about_us p{
	text-align:justify;
	letter-spacing: 0.002em;
}

.passport{
	display:flex;
	padding-top:46px;
	justify-content:left;

}


.passport li{
	display: inline-block;
	width:320px;
	}

.passport li:nth-child(2){
	position: relative;
	right: 1px;
}

.wrapper h4{
	font-size: 18px;
	line-height: 18px;
	color: #666d89;
	font-family: "Lato";
	font-weight: 900;
	text-align: left;
	padding-top:15px;
	white-space: nowrap;
	}

.passport p{
	position: relative;
	top:-16px;
	justify-content:space-between;
	width: 305px;
	font-size: 12px;
	line-height: 22px;
	color: #767e9e;
	font-family: "Lato";
	font-weight: 400;
	text-align: left;
}

.social_nets{
	display:flex;
	padding: 7px 159px 0 1px;
}

.social_nets img:hover{
	cursor: pointer;
	border-radius: 50px;
	animation: pulse 1.6s infinite;
}

.facebook img:hover{
	background-color:#3b5998;	
}

.google img:hover{
	background-color: #d6492f;
}

.twitter img:hover{
	background-color: #00acee;
}

.linkedin img:hover{
	background-color:#ff8d4e;
}

@keyframes pulse {
    0% {
        transform: scale(1);      
	}
	50%{
		transform: scale(1.5);   
	}
    100% {
        transform: scale(1);
    }          
}

